<br>
<div class="container">
    <!-- <div class="d-flex flex-row-reverse">
        <div class="p-1">
            
        </div>
    </div><hr> -->
        <div class="materi" id="page-1">
            <h1 class="title">{{subtitle}}</h1><hr>
            <h2>Pengenalan</h2>
            <p class="indent-text justify-text">Pernahkah kamu melihat orang yang mengangkut 
            kelapa sawit atau barang-barang yang berat dengan 
            menggunakan gerobak dorong? Tahukah kamu, ternyata 
            dengan menggunakan gerobak dorong, memindahkan 
            barang yang berat lebih mudah daripada mengangkat 
            dengan tangan. Mengapa demikian? Agar memahaminya, 
            ayo kita pelajari materi tentang usaha dan pesawat 
            sederhana dalam kehidupan sehari-hari dengan penuh 
            semangat!</p>
            <p class="indent-text justify-text">Tuhan telah menciptakan manusia sebagai makhluk yang paling 
            sempurna. Tuhan menganugerahkan manusia akal pikiran untuk 
            merenungi segala makhluk yang telah diciptakan Tuhan. Melalui akal 
            pikiran tersebut manusia dapat menemukan berbagai alat, misalnya 
            gunting yang dapat digunakan untuk memotong kertas, membuka 
            sebuah bingkisan atau membuka bungkus makanan, katrol yang 
            biasa digunakan untuk mengambil air dari sumur, sekrup untuk 
            menyatukan beberapa kayu sehingga kita dapat membuat meja, pinset 
            untuk mengambil beberapa objek saat kamu melakukan praktikum, 
            roda untuk mempermudah dalam memindahkan barang, dan lain 
            sebagainya. Tanpa menggunakan beberapa alat tersebut tentu kamu 
            akan kesulitan melakukan beberapa aktivitas yang telah disebutkan. 
            Oleh karena itu, kamu wajib bersyukur atas anugerah akal pikiran yang 
            diberikan Tuhan kepadamu. Kemudian bagaimana alat-alat tersebut 
            dapat mempermudah kamu dalam melakukan berbagai aktivitas? Agar 
            mengetahuinya, ayo kita pelajari materi ini dengan antusias!</p>
            <h4>A. Usaha</h4>
            <div class="row">
                <div class="col-md-2">
                    <ul>
                        <li>Ayo, Kita Pelajari</li>
                        <ul>
                            <li>Usaha</li>
                            <li>Daya</li>
                        </ul>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>Istilah Penting</li>
                        <ul>
                            <li>Usaha</li>
                            <li>Joule</li>
                            <li>Daya</li>
                            <li>Watt</li>
                            <li>Newton</li>
                            <li>Perpindahan</li>
                        </ul>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Mengapa Penting?</li>
                        <p>Mempelajari materi ini akan membantu kamu memahami konsep dasar usaha 
                        dan aplikasinya dalam kehidupan.</p>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Page 2 -->

        <div class="materi" id="page-2">
            <h1 class="title">{{subtitle}}</h1><hr>
            <h2>Pengenalan</h2>
            <p class="indent-text justify-text">Pernahkah kamu berusaha mendorong tembok? Apakah tembok 
                tersebut bergerak? Meskipun kamu merasa lelah dan berkeringat, 
                namun saat kamu mendorong tembok tersebut, dikatakan bahwa 
                kamu tidak melakukan usaha sama sekali atau usahanya bernilai nol. 
                Mengapa demikian?</p>
            <p class="justify-text">Perhatikan pernyataan-pernyataan yang terdapat pada Tabel 
                dibawah ini, Analisislah manakah yang termasuk kegiatan melakukan 
                usaha! Berapa besar usaha yang dilakukan?</p>
            <h4>Tabel Pernyataan terkait Usaha</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Pernyataan</th>
                        <th>Usaha</th>
                        <th>Bukan Usaha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Beni mendorong meja dengan gaya 10 N, sehingga meja tersebut berpindah sejauh 20 cm</td>
                        <td align="center" style="padding-left: 35px;"> <input class="form-check-input" type="radio" name="exampleRadios" id="usaha" value="true">
                        </td>
                        <td align="center" style="padding-left: 35px;"> <input class="form-check-input" type="radio" name="exampleRadios" id="bukan" value="false">
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Mangga bermassa 500 gram jatuh dari pohonnya yang 
                            memiliki ketinggian 2 meter di atas permukaan tanah</td>
                        <td align="center" style="padding-left: 35px;"> <input class="form-check-input" type="radio" name="exampleRadios" id="usaha" value="true">
                        </td>
                        <td align="center" style="padding-left: 35px;"> <input class="form-check-input" type="radio" name="exampleRadios" id="bukan" value="false">
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Siti mendorong kereta belanjanya dengan gaya 50 N 
                            dari arah rak daging ke rak sayuran kemudian kembali 
                            lagi ke rak daging</td>
                        <td align="center" style="padding-left: 35px;"> <input class="form-check-input" type="radio" name="exampleRadios" id="usaha" value="true">
                        </td>
                        <td align="center" style="padding-left: 35px;"> <input class="form-check-input" type="radio" name="exampleRadios" id="bukan" value="false">
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Dayu menginjak telur dengan gaya sebesar 5 N hingga 
                            telur tersebut pecah</td>
                        <td align="center" style="padding-left: 35px;"> <input class="form-check-input" type="radio" name="exampleRadios" id="usaha" value="true">
                        </td>
                        <td align="center" style="padding-left: 35px;"> <input class="form-check-input" type="radio" name="exampleRadios" id="bukan" value="false">
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Balok bermassa 2 kg dipindahkan dengan gaya sebesar 
                            40 N sehingga berpindah sejauh 2 m</td>
                        <td align="center" style="padding-left: 35px;"> <input class="form-check-input" type="radio" name="exampleRadios" id="usaha" value="true">
                        </td>
                        <td align="center" style="padding-left: 35px;"> <input class="form-check-input" type="radio" name="exampleRadios" id="bukan" value="false">
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="indent-text justify-text">Semakin besar gaya yang digunakan untuk memindahkan benda, 
                semakin besar pula usaha yang dilakukan. Semakin besar perpindahan 
                benda, semakin besar pula usaha yang dilakukan. Berdasarkan 
                pernyataan tersebut dapat disimpulkan bahwa besarnya usaha (W) 
                ditentukan oleh besar gaya yang diberikan pada benda (F) dan besar 
                perpindahannya Ʃs). Secara matematis dapat dituliskan sebagai 
                berikut.
            </p>
            <p>W = F . Ʃs</p>
            <p>dengan:</p>
            <p>W = usaha (joule)</p>
            <p>F = gaya (newton)</p>
            <p>Ʃs = perpindahan (meter)</p>
        </div>
        <!-- Page 3 -->
        <div class="materi" id="page-3">
            <h1 class="title">{{subtitle}}</h1><hr>
            <h2>Pembahasan</h2>
            <p class="indent-text justify-text">Apakah kamu sudah mulai mengetahui tentang konsep dan 
                penerapan rumus usaha? Agar kamu lebih memahami konsep dan 
                penerapan rumus usaha, ayo pahami pertanyaan berikut!</p>
            <p class="indent-text justify-text">Lani mendorong rak dengan gaya sebesar 100 N sehingga rak 
                tersebut berpindah sejauh 10 m, sedangkan Siti mendorong rak 
                lainnya yang sama massa dan ukurannya dengan gaya sebesar 400 N 
                sehingga rak tersebut berpindah sejauh 40 m. Berapakah besar 
                usaha yang dilakukan oleh Lani dan Siti?</p>
            <h4>Ayo, Kita Pahami</h4> <hr>
            <p>Diketahui:</p>
            <div class="row">
                <div class="col-md-2">
                    <p>F Lani = 100 N</p>
                    <p>F Siti = 400 N</p>
                    
                </div>
                <div class="col-md-2">
                    <p>Ʃ Lani = 10 m</p>
                    <p>Ʃ Siti = 40 m</p>
                </div>
            </div><hr>
            <p>Ditanya:</p>
            <div class="row">
                <div class="col-md-4">
                    <p>W Lani dan W Siti</p>
                </div>
            </div><hr>
            <p>Jawab :</p>
            <div class="row">
                <div class="col-md-3">
                    <p>W = F . Ʃs</p>
                    <p>W Lani = 100 N . 10 m = 1.000 J</p>
                    <p>W Lani = 400 N . 40 m = 16.000 J</p>
                </div>
                <div class="col-md-6">
                    <p>Kesimpulan : </p>
                    <p class="justify-text">Jadi, besar usaha yang dilakukan oleh gaya dorong Lani adalah 
                        1.000 J 
                    </p>
                    <p>dan besar usaha yang dilakukan oleh gaya dorong Siti 
                        adalah 16.000 J.</p>
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-12">
                    <p class="indent-text justify-text">Berdasarkan fitur "Ayo, Kita Pahami" bagaimana dengan laju 
                    energi yang dikeluarkan oleh Lani dan Siti, siapakah di antara Lani 
                    dan Siti yang mengeluarkan energi paling banyak untuk memindahkan 
                    rak? Laju energi atau daya (P) adalah besar energi yang dipergunakan 
                    dalam setiap detik, sehingga dapat ditentukan dengan cara membagi 
                    besar usaha (W) dengan selang waktunya (t), atau secara matematis 
                    dapat dituliskan sebagai berikut.
                    </p>
                    
                    <p>
                        P = W / t
                    </p>
                    <p>dengan:</p>
                    <p>P = daya (watt)</p>
                    <p>W = usaha (joule)</p>
                    <p>t = waktu (sekon)</p>
                </div>
            </div>
        </div>

        <!-- page 4 -->

        <div class="materi" id="page-4">
            <h1 class="title">{{subtitle}}</h1><hr>
            <h2>Pembahasan</h2>
            <p>B. Pesawat Sederhana</p>
            <div class="row alert alert-secondary">
                <div class="col-md-4">
                    <p>Ayo, Kita Pelajari</p>
                    <ul>
                        <li>Jenis-jenis pesawat sederhana</li>
                        <li>Prinsip kerja pesawat sederhana pada sistem gerak manusia</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <p>Istilah Penting</p>
                    <ul>
                        <li>Pesawat sederhana</li>
                        <li>Katrol</li>
                        <li>Roda berporos</li>
                        <li>Bidang miring</li>
                        
                    </ul>
                </div>
                <div class="col-md-6"><br><br>
                    <ul>
                        <li>Pengungkit jenis pertama</li>
                        <li>Pengungkit jenis kedua</li>
                        <li>Pengungkit jenis ketiga</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>Mengapa Penting?</p>
                    <p class="justify-text">Mempelajari materi ini akan membantu kamu memahami konsep pesawat 
                        sederhana dan penerapannya dalam kehidupan sehari-hari serta dalam sistem gerak manusia.
                    </p>
                </div>
            </div>
            <hr>
            <div class="col-md-10">
                <p class="indent-text justify-text">
                    Pada saat kita melakukan aktivitas, kita selalu berupaya agar dapat 
                    melakukan usaha dengan mudah. Oleh karena itu, kita menggunakan 
                    alat bantu (pesawat sederhana) untuk membantu melakukan aktivitas. 
                    Agar kamu dapat memahami pentingnya pesawat sederhana bagi 
                    kehidupan sehari-hari, ayo diskusikan beberapa aktivitas berikut.
                </p>
                <p>Kegiatan Sehari-hari dan Pesawat Sederhana yang Digunakan sebagai Alat Bantu</p>
                <div class="table-responsive col-md-8">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Jenis Kegiatan</th>
                                <th>Alat Bantu yang Digunakan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Memotong kertas</td>
                                <td>Alat pemotong kertas</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Menggunting rumput</td>
                                <td>Gunting</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Memotong daging</td>
                                <td>Pisau</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Mencabut paku</td>
                                <td>Catut</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Mengerek bendera</td>
                                <td>Katrol</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-10">
                <p class="indent-text justify-text">
                    Lakukan pengamatan terhadap berbagai macam aktivitas 
                    yang sering dilakukan oleh orang-orang di sekitarmu! Menurut 
                    pendapatmu, aktivitas-aktivitas tersebut lebih mudah dilakukan 
                    dengan menggunakan alat bantu atau dengan tangan saja?
                </p>
            </div>
            <div class="col-md-10">
                <p class="indent-text justify-text">
                    Berdasarkan hasil diskusi yang telah kamu lakukan, dapat diketahui 
                    bahwa manfaat dari pesawat sederhana adalah untuk mempermudah 
                    pekerjaan manusia. Berikut ini akan dibahas beberapa jenis pesawat 
                    sederhana yang ada di sekitarmu. Selain itu, akan dijelaskan pula 
                    keuntungan mekanis dari penggunaan pesawat sederhana.
                </p>
            </div>
        </div>

        <!-- Page 5 -->

        <div class="materi" id="page-5">
            <h1 class="title">{{subtitle}}</h1><hr>
            <h2>Pembahasan</h2>
            <p>1. Jenis-Jenis Pesawat Sederhana</p>
            <div class="alert alert-secondary">
                <p>a. Katrol</p>
                <div class="row">
                    <div class="col-md-8">
                        <p class="indent-text justify-text">Tahukah kamu bagaimana seseorang dapat 
                            mengambil air dari sumur yang dalam dengan 
                            menggunakan timba. Ini karena 
                            orang tersebut memanfaatkan katrol tetap yang 
                            berfungsi untuk mengubah arah gaya. Jika tali 
                            yang terhubung pada katrol ditarik ke bawah, 
                            maka secara otomatis timba yang berisi air akan 
                            terkerek ke atas. Keuntungan mekanis katrol tetap 
                            sama dengan 1. Karena pada katrol tetap tunggal, 
                            gaya kuasa yang digunakan untuk menarik beban 
                            sama dengan gaya beban.
                        </p>
                        <p class="indent-text justify-text">Berbeda dengan katrol tetap, kedudukan katrol bebas berubah dan 
                            tidak dipasang di tempat tertentu. Perhatikan gambar di bawah ini
                        </p>
                        <img src="/images/jenis-katrol.png" alt="">
                        <p>Sumber: Dok. Kemdikbud</p>
                    </div>
                    <div class="col-md-4">
                        <!-- <p>Katrol Tetap Tunggal</p> -->
                        &nbsp &nbsp &nbsp &nbsp<img src="/images/Katrol.png" alt="">
                        <p class="indent-text">Sumber: Dok. Kemdikbud</p>
                    </div>
                    <div class='col-md-10'>
                        <p class="indent-text justify-text">
                            Katrol bebas berfungsi untuk melipatkan gaya, sehingga gaya pada 
                            kuasa yang diberikan untuk mengangkat benda menjadi lebih kecil 
                            daripada gaya beban. Katrol jenis ini biasanya ditemukan di pelabuhan 
                            yang digunakan untuk mengangkat peti kemas. Keuntungan mekanis 
                            dari katrol bebas lebih besar dari 1. Pada kenyataannya nilai keuntungan 
                            mekanis dari katrol bebas tunggal adalah 2. Hal ini berarti bahwa gaya 
                            kuasa 1 N akan mengangkat beban 2 N.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/katrol-majemuk.png" alt="">
                        <p>Sumber: Dok. Kemdikbud</p>
                    </div>
                    <div class="col-md-6">
                        <p class="indent-text justify-text">
                            Agar gaya kuasa yang diberikan 
                            pada benda semakin kecil, maka 
                            diperlukan katrol majemuk. Katrol 
                            majemuk merupakan gabungan 
                            dari katrol tetap dan katrol bebas 
                            yang dirangkai menjadi satu sistem 
                            yang terpadu. Katrol majemuk biasa 
                            digunakan dalam bidang industri 
                            untuk mengangkat benda-benda 
                            yang berat. Keuntungan mekanis 
                            dari katrol majemuk sama dengan 
                            jumlah tali yang menyokong berat 
                            beban. Misalnya seperti pada Gambar 
                            2.3, gaya kuasa pada katrol majemuk 
                            tersebut adalah 4, karena jumlah 
                            tali yang mengangkat beban ada 4 
                            (tali kuasa tidak diperhitungkan). 
                            Tahukah kamu, kerugian apakah 
                            yang terjadi pada penggunaan katrol 
                            majemuk? Coba diskusikan dengan 
                            teman-temanmu!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Page 6 -->

        <div class="materi" id="page-6">
            <h1 class="title">{{subtitle}}</h1><hr>
            <h2>Pembahasan</h2>
            <p>1. Jenis-Jenis Pesawat Sederhana</p>
            <div class="alert alert-secondary">
                <p>a. Katrol</p>
                <p class="indent-text justify-text">
                    Keuntungan mekanis (KM) adalah bilangan yang menunjukkan 
                    berapa kali pesawat sederhana menggandakan gaya. Dapatkah kamu 
                    menghitungnya? Caranya dengan menghitung besar perbandingan 
                    gaya beban dengan gaya kuasa yang diberikan pada benda. Berikut 
                    adalah persamaan matematisnya:
                </p>
                <div class="col-md-4">
                    <img src="/images/rumus-km.png" alt="">
                </div>
                <div class="col md-6">
                    <p class="justify-text indent-text">
                        Tidak semua pesawat sederhana dapat menggandakan gaya. 
                        Contohnya adalah katrol tetap tunggal. Katrol ini hanya berfungsi 
                        untuk mengubah arah gaya. Oleh karena itu, pada katrol tetap 
                        tunggal hanya memiliki keuntungan mekanis sebesar 1. Hal ini 
                        disebabkan besarnya gaya kuasa sama dengan gaya beban.
                    </p>
                </div>
            </div>
            
        </div>

        <!-- page 7 -->

        <div class="materi" id="page-7">
            <h1 class="title">{{subtitle}}</h1><hr>
            <h2>Pembahasan</h2>
            <p>1. Jenis-Jenis Pesawat Sederhana</p>
            <div class="alert alert-secondary row">
                <div class="col-md-6">
                    <p>b. Roda Berporos</p>
                    <p class="justify-text indent-text">Kamu tentunya sudah tidak 
                        asing lagi dengan sepeda, bahkan 
                        sebagian besar di antara kamu 
                        pasti pernah menggunakannya. 
                        Roda gigi (gear) dan ban pada 
                        sepeda adalah salah satu contoh 
                        pesawat sederhana yang tergolong 
                        roda berporos. Roda gigi berfungsi 
                        sebagai pusat pengatur gerak roda 
                        sepeda yang terhubung langsung dengan roda sepeda
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/images/roda-poros.png" alt="">
                    <p>Sumber: www.billetboard.com</p>
                </div>
                <p class="justify-text indent-text">sedangkan roda sepeda menerapkan prinsip roda 
                    berporos untuk mempercepat gaya saat melakukan perjalanan. Gambar 
                    di atas menunjukkan roda gigi pada sepeda motor sebagai contoh roda 
                    berporos. Selain roda sepeda, contoh penerapan pesawat sederhana 
                    jenis roda berporos adalah pada kursi roda, mobil, dan sepatu roda.
                </p>
            </div>
            <div class="alert alert-secondary row">
                <div class="col-md-6">
                    <p>c. Bidang Miring</p>
                    <p class="justify-text indent-text">
                        Bidang miring merupakan bidang 
                        datar yang diletakkan miring atau 
                        membentuk sudut tertentu sehingga 
                        dapat memperkecil gaya kuasa. 
                        Contoh penerapan bidang miring 
                        adalah tangga, sekrup, dan pisau.
                    </p>
                    <p class="justify-text">
                        Perhatikan Gambar disamping! Keuntungan mekanis bidang miring dapat 
                        dihitung sebagai berikut.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/images/sekrup.png" alt="">
                    <p>Sumber: Dok. Kemdikbud</p>
                </div>
            </div>
            <div class="row alert alert-secondary">
                <div class="col-md-6">
                    <img src="/images/rumus-bm.png" alt="">
                </div>
                <div class="col-md-6" style="background-color: white;">
                    <img src="/images/rumus-bm-2.png" alt="">
                </div>
                <p class="indent-text">Karena segi tiga yang besar sebangun dengan segitga yang kecil, maka Rumus yang di gambarkan adalah seperti gambar di atas</p>
            </div>
            
        </div>

        <!-- Page 8 -->

        <div class="materi" id="page-8">
            <h1 class="title">{{subtitle}}</h1><hr>
            <h2>Pembahasan</h2>
            <p>1. Jenis-Jenis Pesawat Sederhana</p>
            <div class="row">
                <div class="col-md-12">
                    <p>d. Pengungkit</p>
                    <p class="justify-text indent-text">
                        Pengungkit merupakan salah satu jenis pesawat sederhana yang 
                        paling banyak digunakan dalam kehidupan sehari-hari. Contoh alatalat yang merupakan pengungkit antara lain gunting, linggis, jungkatjungkit, pembuka botol, pemecah biji kenari, sekop, koper, pinset, dan 
                        sebagainya. ada berbagai jenis pengungkit yang dikelompokkan berdasarkan variasi letak titik tumpu, lengan kuasa, 
                        dan lengan beban.
                    </p>
                    <img src="/images/pengungkit.png" alt="">
                    <p class="justify-text indent-text">
                        Pengungkit dapat memudahkan usaha dengan cara 
                        menggandakan gaya kuasa dan mengubah arah gaya. Agar kita dapat 
                        mengetahui besar gaya yang dilipatgandakan oleh pengungkit maka 
                        kita harus menghitung keuntungan mekanisnya. Cara menghitung 
                        keuntungan mekanisnya adalah dengan membagi panjang lengan 
                        kuasa dengan panjang lengan beban. Panjang lengan kuasa adalah 
                        jarak dari tumpuan sampai titik bekerjanya gaya kuasa. Panjang lengan 
                        beban adalah jarak dari tumpuan sampai dengan titik bekerjanya gaya 
                        beban. Agar kamu mudah memahaminya, perhatikan
                    </p>
                    <img src="/images/keseimbangan-tuas.png" alt="">
                    <p>Jenis Pengungkit yang Dikelompokkan Berdasarkan Letak Titik Tumpu, 
                        Lengan Kuasa, dan Lengan Beban
                    </p>
                    <img src="/images/tabel-kelompok-pengungkit.png" alt="">
                    <img src="/images/tabel-kelompok-pengungkit2.png" alt="">
                </div>
            </div>
        </div>
        
        <!-- Page 9 -->
        <div class="materi" id="page-9">
            <h1 class="title">{{subtitle}}</h1><hr>
            <h2>Pembahasan</h2>
            <p>2. Prinsip Kerja Pesawat Sederhana pada Sistem Gerak Manusia</p>
            <div class="row">
                <div class="col-md-12">
                    <p class="justify-text indent-text">
                        Selain pada peralatan yang biasa kamu gunakan pada kehidupan 
                        sehari-hari tersebut, prinsip pesawat sederhana juga ada yang berlaku 
                        pada struktur otot dan rangka manusia. Pada saat mengangkat barbel 
                        telapak tangan yang menggenggam barbel berperan sebagai gaya beban, 
                        titik tumpu berada pada siku (sendi di antara lengan atas dan lengan 
                        bawah), dan kuasanya adalah lengan bawah. Titik tumpu berada di 
                        antara lengan beban dan kuasa, oleh karena itu lengan disebut sebagai 
                        pesawat sederhana pengungkit jenis ketiga.
                    </p>
                    <img src="/images/barbel.png" alt="">
                    <p> (a) Seseorang Mengangkat Barbel, (b) Posisi Lengan Kuasa, Lengan 
                        Beban, dan Penumpu pada Tangan Saat Mengangkat Barbel
                    </p>
                    <p class="justify-text">
                        Dengan menggunakan prinsip kerja pesawat sederhana, 
                        coba kamu tuliskan penjelasan untuk contoh kasus 1 dan kasus 
                        2 penerapan prinsip pesawat sederhana pada struktur otot dan 
                        rangka manusia saat melakukan suatu aktivitas
                    </p>
                    <p style="font-weight: 900;">Prinsip Kerja Pesawat Sederhana pada Kegiatan Tubuh Manusia</p>
                </div>
                <div class="col-md-3">
                    <p>Kasus 1 Menengadahkan Kepala</p>
                    <img src="/images/anatomi-kepala.png" alt="">
                </div>
                <div class="col-md-3">
                    <p>Kasus 2 Kaki Jinjit</p>
                    <img src="/images/anatomi2.png" alt="">
                </div>
                <div class="col-md-4">
                    <p>Keterangan :</p>
                    <p>K : titik kuasa</p>
                    <p>P : titik tumpu</p>
                    <p>B : titik beban</p>
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-12">
                    <p class="justify-text">
                        Selain pada kegiatan mengangkat barbel, jinjit, berdiri, dan 
                        menunduk, prinsip pengungkit juga dapat digunakan untuk 
                        menganalisis pola gerak tubuh pada saat bermain bulutangkis seperti 
                        pada Gambar dibawah ini
                    </p>
                    <p>Prinsip Kerja Pesawat Sederhana pada Saat Bermain Bulutangkis</p>
                    <img src="/images/bulu-tangkis.png" alt="">
                </div>
            </div>
        </div>

        <!-- Page 10 -->
        <div class="materi" id="page-10">
            <h1 class="title">{{subtitle}}</h1><hr>
            <h2>Kesimpulan</h2>
            <p>2. Prinsip Kerja Pesawat Sederhana pada Sistem Gerak Manusia</p>
            <div class="row">
                <div class="col-md-12">
                    <p>Ayo, Kita Renungkan</p>
                    <p class="indent-text justify-text">
                        Konsep usaha, daya, dan pesawat sederhana hanyalah sebagian 
                        kecil ilmu Tuhan yang dapat digunakan untuk menjelaskan 
                        bagaimana sistem kerja benda-benda yang ada. Berkat ilmu 
                        tersebut kita juga dapat memahami bagaimana cara kerja anggota 
                        gerak manusia yang sangat efektif. Tulang sebagai alat gerak aktif 
                        bagaikan pengungkit yang digerakkan secara harmonis oleh gaya 
                        otot. Gerakan gerakan pengungkit tersebut sangat efisien dengan 
                        keuntungan mekanis tertentu sehingga mampu memperkecil 
                        energi yang harus dikeluarkan oleh tubuh. Tuhan mengatakan 
                        bahwa jika air lautan adalah tinta, maka kamu takkan pernah 
                        cukup menggunakannya untuk menuliskan seluruh ilmu-Nya. 
                        Maka teruslah belajar dan tetaplah rendah hati. Pernahkah kamu 
                        membayangkan bagaimana istimewanya ciptaan Tuhan yang satu 
                        ini? Sudahkah kamu mensyukuri segala ciptaan Tuhan termasuk 
                        dengan adanya pesawat sederhana?
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Info Tokoh</p>
                    <img src="/images/tokoh.png" alt="">
                </div>
                <div class="col-md-6">
                    <p>Rangkuman</p>
                    <p class="justify-text">1. Usaha adalah besarnya energi yang digunakan gaya untuk 
                        memindahkan suatu benda.
                    </p>
                    <p class="justify-text">2. Besarnya usaha (W) ditentukan oleh besar gaya yang diberikan 
                        pada benda (F) dan besar perpindahannya Ʃs).
                    </p>
                    <p class="justify-text">3. Pesawat sederhana adalah alat yang digunakan untuk 
                        mempermudah pekerjaan manusia.
                    </p>
                    <p class="justify-text">4. Keuntungan mekanis (KM) adalah bilangan yang menunjukkan 
                        berapa kali pesawat menggandakan gaya.
                    </p>
                    <p class="justify-text">5. Jenis-jenis pesawat sederhana ada empat, yaitu katrol, roda 
                        berporos, bidang miring, dan pengungkit.
                    </p>
                    <p class="justify-text">6. Katrol terdiri atas katrol tetap dan katrol bebas. Katrol tetap 
                        berfungsi untuk mengubah arah gaya. Pada katrol tetap tunggal, 
                        gaya kuasa yang digunakan untuk menarik beban sama dengan 
                        gaya beban. Keuntungan mekanis katrol tetap sama dengan 1. 
                        Katrol bebas berfungsi untuk melipatkan gaya, sehingga gaya 
                        pada kuasa yang diberikan untuk mengangkat benda menjadi 
                        lebih kecil daripada gaya beban.
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="justify-text">7. Katrol majemuk merupakan gabungan dari katrol tetap dan 
                        katrol bebas yang dirangkai menjadi satu sistem yang terpadu.
                    </p>
                    <p class="justify-text">8. Keuntungan mekanis dari katrol majemuk sama dengan jumlah 
                        tali yang menyokong berat beban.
                    </p>
                    <p class="justify-text">9. Beberapa benda yang menerapkan prinsip roda berporos di 
                        antaranya roda sepeda, kursi roda, mobil, dan sepatu roda.
                    </p>
                    <p class="justify-text">10. Bidang miring merupakan bidang datar yang diletakkan miring 
                        atau membentuk sudut tertentu sehingga dapat memperkecil 
                        gaya kuasa.
                    </p>
                    <p class="justify-text">11. Beberapa benda yang menerapkan prinsip bidang miring di 
                        antaranya tangga, sekrup, dan pisau.
                    </p>
                    <p class="justify-text">12. Pengungkit terdiri atas tiga jenis, yaitu jenis pertama yang titik 
                        tumpunya terletak di antara beban dan kuasa, jenis kedua yang 
                        titik bebannya ada di antara kuasa dan tumpu, serta jenis ketiga 
                        yang titik kuasanya ada di antara beban dan tumpu.
                    </p>
                    <p class="justify-text">13. Beberapa benda yang menerapkan prinsip pengungkit antara 
                        lain gunting, linggis, jungkat-jungkit, pembuka botol, pemecah 
                        biji kenari, sekop, koper, pinset, dan sebagainya.
                    </p>
                    <p class="justify-text">14. Pengungkit dapat memudahkan usaha dengan cara menggandakan gaya kuasa dan mengubah arah gaya.
                    </p>
                    <p class="justify-text">15. Koordinasi otot dan tulang memiliki kesesuaian dengan prinsip 
                        pesawat sederhana.
                    </p>
                    <p class="justify-text">16. Lengan merupakan salah satu organ yang menerapkan prinsip 
                        pesawat sederhana yaitu merupakan pengungkit jenis ketiga.
                    </p>
                    <p class="justify-text">17. Alat-alat dalam kehidupan yang mengikuti prinsip pesawat 
                        sederhana terdiri atas katrol, roda berporos, bidang miring, dan 
                        pengungkit.
                    </p>
                </div>
                <div class="col-md-12"><hr>
                    <p>Bagan Konsep</p>
                    <img src="/images/bagan-konsep.png" alt="">
                </div>
            </div>
        </div>    

        <hr><br><br><br>
        <div class="d-flex flex-row-reverse fixed-bottom justify-content-center">
            <!-- <span class="fa fa-eye-slash"></span> -->
            <div class="alert alert-info fixed p-2">
                <button id="prev" class="btn btn-md btn-success"> <i class="fas fa-arrow-circle-left"></i>  Prev </button>
                <span id="numberofpage"></span>
                <button id="next" class="btn btn-md btn-success">Next <i class="fas fa-arrow-circle-right"></i> </button>
                <span style="font-size: larger; padding-top: 7px; padding-bottom: 12px;" id="i-btn" class="badge badge-warning"></span>
            </div>
            <!-- <div class="alert alert-info fixed p-2">
                <button id="prev" class="btn btn-md btn-success"> <i class="fas fa-arrow-circle-left"></i>  Prev </button>
                <button id="next" class="btn btn-md btn-success">Next <i class="fas fa-arrow-circle-right"></i> </button>
                <span style="font-size: larger; padding-top: 7px; padding-bottom: 12px;" id="i-btn" class="badge badge-warning"></span>
            </div> -->
        </div>
</div>


<script>
    var btnNext = document.getElementById("next")
    var btnPrev = document.getElementById("prev")
    
    var PageArrays = [];
    var CurrentPage = [];
    var pageCount = document.querySelectorAll(".materi").length;
    var NumberOfPage = document.getElementById("numberofpage")
    var markup = "";
    for(var i = 1; i < pageCount+1; i++){
        markup += "<a onClick = 'getId(this.id)' class='btn btn-sm btn-warning numpage' id='num-"+i+"' href='#'>"+i+"</a>"
    }
    NumberOfPage.innerHTML = markup
    var idArrays = []
    function getId(id){
        document.getElementById(id).style.color = "black"
        var convertId = id.split("-")[1]

        idArrays.push(parseInt(convertId))
        idArrays.splice(0)
        idArrays.push(parseInt(convertId))
        var difference = PageArrays.filter(x => !idArrays.includes(x));

        for(var x = 0; x < difference.length; x++){
            document.getElementById("page-"+difference[x]+"").hidden = true
            document.getElementById("num-"+difference[x]+"").style.color = "white"
        }
        document.getElementById("page-"+idArrays[0]+"").hidden = false

    }

    for(var i = 1; i < pageCount+1; i++){
        PageArrays.push(i)
    }
    for(var x = 2 ; x < PageArrays.length+1; x++ ){
        document.getElementById("page-"+x+"").hidden = true
        console.log(x);
    }

    var hidden_elements = $("body").find("div :hidden");
    console.log(hidden_elements)

    console.log(PageArrays);
    var i = 1;
    var prevPage = i;
    var nextPage = i;
    $(document).ready(function(){
        // $("#i-btn").html("Halaman > " +i);
        document.getElementById("num-"+i+"").style.color = "black"
    })

    btnNext.addEventListener("click", () => {
        i++
        if(i > pageCount){
            i = pageCount
        }
        if(nextPage < pageCount){
            nextPage = pageCount
        }
        CurrentPage.push(i);
        CurrentPage.splice(0);
        CurrentPage.push(i)

        let difference = PageArrays.filter(x => !CurrentPage.includes(x))
        document.getElementById("page-"+i+"").hidden = false
        for(var v =0; v < difference.length; v++){
            document.getElementById("page-"+difference[v]+"").hidden = true
            document.getElementById("num-"+difference[v]+"").style.color = "white"
        }
        document.getElementById("num-"+i+"").style.color = "black"
        // document.getElementById("i-btn").innerHTML = "Halaman > " +i
    })
    btnPrev.addEventListener("click", () => {
        i--
        if(i < 1){
            i = 1
        }
        prevPage++;
        if(prevPage > pageCount){
            prevPage = pageCount
        }
        CurrentPage.push(i);
        CurrentPage.splice(0);
        CurrentPage.push(i)
        let difference = PageArrays.filter(x => !CurrentPage.includes(x))
        
        for(var v =0; v < difference.length; v++){
            document.getElementById("page-"+difference[v]+"").hidden = true
            document.getElementById("num-"+difference[v]+"").style.color = "white"
        }
        document.getElementById("page-"+i+"").hidden = false
        document.getElementById("num-"+i+"").style.color = "black"
        // document.getElementById("i-btn").innerHTML = "Halaman > "+i
    })
    
</script>